# Dependencies
node_modules/
.pnpm-store/

# Production build output
dist/
build/

# IDE & System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
